
*.pickle
daybook-and-diaries*
anthony-*
.DS_Store



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
docs/writings-dev/node_modules/
docs/correspondence-dev/node_modules/
docs/daybook-dev/node_modules/
docs/compare-dev/node_modules/

docs/writings-dev/node_modules/.bin/browserslist
docs/writings-dev/node_modules/.bin/autoprefixer
docs/writings-dev/node_modules/.bin/resolve
docs/writings-dev/node_modules/.bin/nanoid
docs/writings-dev/node_modules/.bin/acorn
docs/writings-dev/node_modules/.bin/parser
docs/writings-dev/node_modules/.bin/browserslist-lint
docs/writings-dev/node_modules/.bin/tailwind
docs/writings-dev/node_modules/.bin/vite
docs/writings-dev/node_modules/.bin/rollup
docs/writings-dev/node_modules/.bin/detective
docs/writings-dev/node_modules/.bin/esbuild
docs/writings-dev/node_modules/.bin/terser
docs/writings-dev/node_modules/.bin/cssesc
docs/writings-dev/node_modules/.bin/sass
docs/writings-dev/node_modules/.bin/tailwindcss
docs/writings-dev/node_modules/terser/node_modules/.bin/acorn
docs/writings-dev/node_modules/@vueuse/core/node_modules/.bin/vue-demi-switch
docs/writings-dev/node_modules/@vueuse/core/node_modules/.bin/vue-demi-fix
docs/writings-dev/node_modules/@vueuse/shared/node_modules/.bin/vue-demi-switch
docs/writings-dev/node_modules/@vueuse/shared/node_modules/.bin/vue-demi-fix
docs/writings-dev/node_modules/@vueuse/integrations/node_modules/.bin/vue-demi-switch
docs/writings-dev/node_modules/@vueuse/integrations/node_modules/.bin/vue-demi-fix
docs/writings-dev/public/susan-b-anthony/json
docs/correspondence-dev/node_modules/.bin/browserslist
docs/correspondence-dev/node_modules/.bin/autoprefixer
docs/correspondence-dev/node_modules/.bin/resolve
docs/correspondence-dev/node_modules/.bin/nanoid
docs/correspondence-dev/node_modules/.bin/acorn
docs/correspondence-dev/node_modules/.bin/parser
docs/correspondence-dev/node_modules/.bin/browserslist-lint
docs/correspondence-dev/node_modules/.bin/tailwind
docs/correspondence-dev/node_modules/.bin/vite
docs/correspondence-dev/node_modules/.bin/rollup
docs/correspondence-dev/node_modules/.bin/detective
docs/correspondence-dev/node_modules/.bin/esbuild
docs/correspondence-dev/node_modules/.bin/terser
docs/correspondence-dev/node_modules/.bin/cssesc
docs/correspondence-dev/node_modules/.bin/sass
docs/correspondence-dev/node_modules/.bin/tailwindcss
docs/correspondence-dev/node_modules/terser/node_modules/.bin/acorn
docs/correspondence-dev/node_modules/@vueuse/core/node_modules/.bin/vue-demi-switch
docs/correspondence-dev/node_modules/@vueuse/core/node_modules/.bin/vue-demi-fix
docs/correspondence-dev/node_modules/@vueuse/shared/node_modules/.bin/vue-demi-switch
docs/correspondence-dev/node_modules/@vueuse/shared/node_modules/.bin/vue-demi-fix
docs/correspondence-dev/node_modules/@vueuse/integrations/node_modules/.bin/vue-demi-switch
docs/correspondence-dev/node_modules/@vueuse/integrations/node_modules/.bin/vue-demi-fix
docs/correspondence-dev/public/susan-b-anthony/json
docs/daybook-dev/node_modules/.bin/browserslist
docs/daybook-dev/node_modules/.bin/autoprefixer
docs/daybook-dev/node_modules/.bin/resolve
docs/daybook-dev/node_modules/.bin/nanoid
docs/daybook-dev/node_modules/.bin/acorn
docs/daybook-dev/node_modules/.bin/parser
docs/daybook-dev/node_modules/.bin/browserslist-lint
docs/daybook-dev/node_modules/.bin/tailwind
docs/daybook-dev/node_modules/.bin/vite
docs/daybook-dev/node_modules/.bin/rollup
docs/daybook-dev/node_modules/.bin/detective
docs/daybook-dev/node_modules/.bin/esbuild
docs/daybook-dev/node_modules/.bin/terser
docs/daybook-dev/node_modules/.bin/cssesc
docs/daybook-dev/node_modules/.bin/sass
docs/daybook-dev/node_modules/.bin/tailwindcss
docs/daybook-dev/node_modules/terser/node_modules/.bin/acorn
docs/daybook-dev/node_modules/@vueuse/core/node_modules/.bin/vue-demi-switch
docs/daybook-dev/node_modules/@vueuse/core/node_modules/.bin/vue-demi-fix
docs/daybook-dev/node_modules/@vueuse/shared/node_modules/.bin/vue-demi-switch
docs/daybook-dev/node_modules/@vueuse/shared/node_modules/.bin/vue-demi-fix
docs/daybook-dev/node_modules/@vueuse/integrations/node_modules/.bin/vue-demi-switch
docs/daybook-dev/node_modules/@vueuse/integrations/node_modules/.bin/vue-demi-fix
docs/daybook-dev/public/susan-b-anthony/json
docs/compare-dev/node_modules/.bin/rimraf
docs/compare-dev/node_modules/.bin/resolve
docs/compare-dev/node_modules/.bin/nanoid
docs/compare-dev/node_modules/.bin/acorn
docs/compare-dev/node_modules/.bin/prettier
docs/compare-dev/node_modules/.bin/node-which
docs/compare-dev/node_modules/.bin/js-yaml
docs/compare-dev/node_modules/.bin/parser
docs/compare-dev/node_modules/.bin/semver
docs/compare-dev/node_modules/.bin/vite
docs/compare-dev/node_modules/.bin/rollup
docs/compare-dev/node_modules/.bin/eslint-config-prettier
docs/compare-dev/node_modules/.bin/eslint
docs/compare-dev/node_modules/.bin/esbuild
docs/compare-dev/node_modules/.bin/cssesc
docs/compare-dev/public/susan-b-anthony
